<h1>{offers->f:count()} Angebote</h1>

<div class="orders__search">
	<f:form action="list" name="demand" controller="Offer" object="{demand}">

		<label> In Umgebung von
			<f:form.textfield property="searchDistanceAddress"/>
			<f:form.textfield property="maxDistance"/>
			km </label>

		<button type="submit" class="button hollow small">
			<span>Ansicht aktualisieren</span>
			<span class="icon-refresh"></span>
		</button>
	</f:form>
</div>

<div class="orders orders--list">
	<f:widget.paginate as="pagedOffer" objects="{offers}">
		<f:for each="{pagedOffer}" as="offer">
			<f:render partial="Offer/Item" arguments="{offer: offer, showPid: settings.showPid}"/>
		</f:for>
	</f:widget.paginate>
</div>
